@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    --background: #ECE9FD;
    --text-light: #7158EF;
    --text-dark: #090039;
    --text-dark-gray: #0a0039a3;
}
:root {
    font-size: 62.5%;
}
body {
    background: var(--background);
    padding: 6.0rem 2.3rem 6.6rem;
    font-size: 1.6rem;
}
main p:first-child {
    color: var(--text-light);
    line-height: 3.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 1.7rem;
}
h1 {
    color: var(--text-dark);
    font-size: 4.0rem;
    font-weight: 800;
    line-height: 4.8rem;
    margin-bottom: 1.5rem;
}
p {
    color: var(--text-dark-gray);  
    margin-bottom: 3.2rem;
    line-height: 3.2rem;
}
a {
    color: var(--text-dark);
    text-decoration: none;
}
a:hover{
    font-weight: 700;
}
ul {
    list-style: none;
    margin-top: 7.7rem;
}
ul li {
    color: var(--text-dark);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    display: flex;
    gap: 3.8rem;
}
ul li span {
    color: var(--text-dark);
    font-size: 7.2rem;
    font-weight: 800;
    letter-spacing: -0.2rem;
    line-height: 8.0rem;
}
@media(min-width: 768px){
    main {
        display: flex;
        align-items: center;
        gap: 10rem;
        max-width: 102.1rem;
        margin: 0 auto;
    }
    main > div {
        max-width: 48.4rem;
    }
    ul li {
        align-items: center;
    }
}